extends ./layout/index 

block contenido
    main.container.mt-5     
        .row 
            .col-md-5 
                img.img-fluid(src="img/nosotros.jpg", alt="nosotros")
            .col-md-7
                 h1=pagina
                 blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores suscipit dolor optio sapiente eveniet esse illum impedit molestiae amet placeat sed inventore fuga error, aperiam, perspiciatis consectetur mollitia officia eum!

                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id architecto distinctio ipsa aspernatur expedita autem nesciunt vel, dicta, possimus porro magnam ipsam deleniti veritatis, ducimus iusto enim? Consequuntur, quaerat repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quisquam error, natus adipisci quos eaque veritatis, repellat totam incidunt id sunt similique! Sed saepe voluptates ut? Neque, odit! Sed, officia!

                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur iusto dolore quae voluptate dicta obcaecati odit, sed, perferendis eligendi eaque et explicabo eveniet placeat vel accusamus voluptatibus facere quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel animi voluptas consectetur, deleniti nam aperiam quam repellendus? Repellat, aliquam voluptates perspiciatis at nulla fuga, architecto tempore, cupiditate harum magnam quis!
    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad  
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto mollitia deleniti accusamus blanditiis laudantium placeat dolorem fugiat beatae minima numquam perferendis alias natus magnam vel consectetur nihil inventore, accusantium sit.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos  
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto mollitia deleniti accusamus blanditiis laudantium placeat dolorem fugiat beatae minima numquam perferendis alias natus magnam vel consectetur nihil inventore, accusantium sit.
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios  
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto mollitia deleniti accusamus blanditiis laudantium placeat dolorem fugiat beatae minima numquam perferendis alias natus magnam vel consectetur nihil inventore, accusantium sit.